<div class="home">
  <% if current_user.admin? %>
    <div class="admin-section">
      <a href="/posts" class="admin_button">Admin panel
      </a>
    </div>
  <% end %>
  <iframe src="https://www.staffapp.ch"></iframe>
</div>