@import 'mixins';

/* RESET */
* {
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
}

hr {
  margin: 3px 0 2px 0;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

.clearfix:after {
  clear: both;
  font-size: 0;
  height: 0;
}

.clear {
  clear: both;
}

header {
  text-align: center;
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.black {
  background-color: black;
}

.alert {
  img {
    border-color: white;
  }
}

.header {
  height: 83px;
}

.header-l {
  text-align: left;
  padding-left: 5%;
  @media only screen
  and (max-width:767px) {
    display: none;
  }
}

.header-r {
  padding-top: 17px;
  @media only screen
  and (max-width:767px) {
    margin-left: 30px;
  }
}

.Header-branding {
  width: 162px;
}

.logo {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

.dropdown {
  width: 165px;
  height: 34px;
  margin-top: 20px;
  background-color: black;
  border-radius: 4px;
  margin-right: 5px;
}

.navbar {
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 7px 0 12px 0;
  max-width: 99%;
}

.home {
  .admin-section {
    display: inline-block;
    height: 46px;
    width: 110px;
    margin: 5px auto;
    padding-top: 12px;
    background-color: #3cc79c;
    border-radius: 10%;
    .admin_button {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

/*WRAPPER*/

.wrapper {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 70px;
  background-color: white;
  max-width: 97%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: -3px 0px 10px 0px #333, 3px 0px 10px 0px #333;
  .home {
    height: 100%;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
