.card-header {
  font-size: 25px;
  color: #FFF;
  background-color: #337AB7;
  margin-top: 10px;
}

.card-block {
  background-color: #f5f5f5;
}

.table{
  font-size: 14px;
}

.width_petition{
  width: 50%;
}

.width_votes{
  width: 10%;
}

.width_date{
  width: 20%;
}

.width_a {
  width: 20%;
}

