.card-header {
  font-size: 25px;
  color: #FFF;
  background-color: #337AB7;
  margin-top: 10px;
}

.card-block {
  background-color: #f5f5f5;
}

.table{
  font-size: 14px;
}

.width_post {
  width: 50%;
}

.width_reviews {
  width: 10%;
}

.width_date {
  width: 20%;
}

.width_a {
  width: 20%;
}

.table {
  &.posts {
    text-align: left;
  }
}

.new-post {
  height: 46px;
  width: 140px;
  margin: 5px auto;
  padding-top: 12px;
  background-color: #d800ff;
  border-radius: 10%;
  .create_button {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
}

